/* style.css */
.progress-bar {
    transition: width 0.3s ease;
  }
  
  .progress-bar.weak {
    background-color: #f00;
  }
  
  .progress-bar.medium {
    background-color: #ffa500;
  }
  
  .progress-bar.strong {
    background-color: #28a745;
  }
  